{
  "singleQuote": true,
  "tabWidth": 2,
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/types/(.*)$",
    "^@/config/(.*)$",
    "^@/lib/(.*)$",
    "^@/hooks/(.*)$",
    "^@/components/ui/(.*)$",
    "^@/components/(.*)$",
    "^@/styles/(.*)$",
    "^@/app/(.*)$",
    "",
    "^[./]"
  ],
  "plugins": ["@ianvs/prettier-plugin-sort-imports","prettier-plugin-tailwindcss"],
  "importOrderParserPlugins": [
    "typescript",
    "jsx",
    "decorators-legacy",
    "classProperties",
    "dynamicImport"
  ],
  "importOrderTypeScriptVersion": "5.0.0",
  "parser": "typescript",
  "experimentalTernaries": false,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "vueIndentScriptAndStyle": false
}
