@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #151515;
    --foreground: #ffffff;
  }
}

html {
  line-height: 1.2 !important;
  letter-spacing: 0.02em !important;
  word-spacing: 0.05em !important;
}



body {
  color: var(--foreground);
  font-size: 16px;
  /* background: var(--background); */
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  /* max-width: 109px !important */
}

.text-body2-underline {
  @apply underline;
}
