@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #151515;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* globals.css */
@layer components {
  .stroke-dash {
    stroke: #000;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 2.5s linear forwards;
    animation-delay: 0.25s;
    stroke-width: 1px;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

  .animate-gradient-fade {
    animation: gradient-fade 4s linear forwards;
  }

  @keyframes gradient-fade {
    0% { opacity: 1 }
    100% { opacity: 0.4 }
  }
}